@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfedff;
  /* Màu nền xanh dương nhạt (Light blue) thay cho màu trắng */
  --foreground: #171717;

  /* Color Palette */
  --color-palette-1: #004fa8;
  --color-palette-2: #0088d4;
  --color-palette-3: #a4d700;
  --color-palette-4: #1b992b;
  --color-palette-5: #009f98;
  --color-palette-6: #ffffff;

  /* --font-dirty-roma: "Super-Ocean-Personal-Use", sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dfedff;
    --foreground: #171717;
    /* --font-dirty-roma: "Super-Ocean-Personal-Use", sans-serif; */
  }
}

/* font-face {
  font-family: "Super-Ocean-Personal-Use";
  src: url("./fonts/Super-Ocean-Personal-Use.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px black;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@keyframes stretch {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.stretch-animation {
  animation: stretch 3s infinite;
}

@keyframes updown {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.updown-animation {
  animation: updown 2s ease-in-out infinite;
}

@keyframes rotate-hold {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(8deg);
  }

  70% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.rotate-hold-animation {
  animation: rotate-hold 3s infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}